<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            Latest income entries
        </h4>
    </div>
    <div class="card-body">
        <div *ngIf="(request | async) as list; else loading">
            <income-list [list]="list"></income-list>
        </div>
        <ng-template #loading>
            <div class="alert alert-info">
                <span class="fa fa-spinner fa-spin"></span>
                Loading....
            </div>
        </ng-template>
    </div>
    <div class="card-footer">
        <a class="btn btn-info btn-block"
           [routerLink]="['/income', 'list']">
            <span class="fa fa-list"></span>
            Show all income entries
        </a>
    </div>
</div>
