<div class="row"
     *ngIf="!editMode">
    <div class="col-md-10"
         *ngIf="(request | async) as sources; else loading">
        <select class="form-control"
                [(ngModel)]="current"
                [compareWith]="compareSources">
            <option [ngValue]="null">-- Choose source --</option>
            <option *ngFor="let available of sources"
                    [ngValue]="available">
                {{available.name}}
            </option>
        </select>
    </div>
    <ng-template #loading>
        <div class="col-md-10">
            <div class="alert alert-info">
                Loading...
            </div>
        </div>
    </ng-template>
    <div class="col-md-2">
        <button type="button"
                class="btn btn-success btn-block"
                (click)="editMode = true">
            <span class="fa fa-plus-square-o"></span>
            Add
        </button>
    </div>
</div>
<div *ngIf="editMode">
    <income-source-create (closed)="closeEdit($event)"></income-source-create>
</div>
