<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            Latest purchases
        </h4>
    </div>
    <div class="card-body">
        <div *ngIf="(request | async) as purchases; else loading">
            <purchase-list [list]="purchases"></purchase-list>
        </div>
        <ng-template #loading>
            <div class="alert alert-info">
                <span class="fa fa-spin fa-spinner"></span>
                Loading...
            </div>
        </ng-template>
    </div>
</div>
