<div class="row">
    <div class="col-md-8">
        <div class="btn-group">
            <button type="button"
                    class="btn btn-secondary"
                    [disabled]="isFirst"
                    (click)="page = 0">
                <span class="fa fa-angle-double-left"></span>
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    [disabled]="isFirst"
                    (click)="page = page - 1">
                <span class="fa fa-angle-left"></span>
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    *ngFor="let current of pageList"
                    [class.btn-primary]="current === page"
                    (click)="page = current">
                {{current + 1}}
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    [disabled]="isLast"
                    (click)="page = page + 1">
                <span class="fa fa-angle-right"></span>
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    [disabled]="isLast"
                    (click)="page = lastPage">
                <span class="fa fa-angle-double-right"></span>
            </button>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text">
                    Page size
                </label>
            </div>
            <select class="form-control"
                    name="pageSize"
                    [(ngModel)]="pageSize">
                <option [ngValue]="10">10</option>
                <option [ngValue]="20">20</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
            </select>
        </div>
    </div>
</div>
