<div class="row"
     *ngIf="!editMode">
    <div [class.col-md-10]="allowEdit"
         [class.col-md-12]="!allowEdit"
         *ngIf="(request | async) as categories; else loading">
        <select class="form-control"
                [(ngModel)]="current"
                [compareWith]="compareCategory">
            <option [ngValue]="null">-- Choose category --</option>
            <option *ngFor="let available of categories"
                    [ngValue]="available">
                {{display(available)}}
            </option>
        </select>
    </div>
    <ng-template #loading>
        <div class="col-md-10">
            <div class="alert alert-info">
                Loading...
            </div>
        </div>
    </ng-template>
    <div class="col-md-2"
         *ngIf="allowEdit">
        <button type="button"
                class="btn btn-success btn-block"
                (click)="editMode = true">
            <span class="fa fa-plus-square-o"></span>
            Add
        </button>
    </div>
</div>
<div *ngIf="editMode">
    <category-create (closed)="closeEdit($event)"></category-create>
</div>
